<div class="column is-4">
    <div class="block homeblock">
    <h1>Vaskar Nepal</h1>
    
    <p>
        I am a fisheries ecologist, with interests in fish life-history, ecophysiology and quantitative modeling. Currently, I am a post-doctoral research associate at Virginia Institute of Marine Science. For this position, I am conducting research on three main areas:
		1. Effects of temperature and salinity on metabolic rate and consumption rate of invasive blue catfish.
		2. Spatiotemporal changes in recruitment characteristics of striped bass in tidal rivers of Chesapeake Bay.
		3. Effects of protected areas on taxonomic and functional diversity of fishes in Nepal.
	</p>
	<p>
		In this website, I will be updating my research, teaching philosophy and random data analysis scripts. The code scripts are just as much for my future self, as for others to look at. Have a look around the website and let me know if you have any questions, comments or suggestions.
        Check out <a href="../posts/how-to">Features </a> to know the the theme and, <a href="../posts/how-to"> Install and Setup </a> to know more. 
        Go to <a href="../notes"> notes </a> to see the note feed. 
    </p>
    
    </div>
</div>