<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <div class="column is-4">
      <div class="block homeblock">
        <h1>Vaskar Nepal, Ph.D.</h1>
        <p> <img src="/assets/img/vaskar_srl_550.jpg" alt="Vaskar in SRL" style="float:left;width:220px;height:309px;" vspace="5"
            hspace="5"> I am a fish ecologist, with interests in
          fish life-history, ecophysiology and quantitative modeling. My research
		  spans small and large water bodies in freshwater, estuarine and marine systems.
		  I particularly enjoy working at individual and population levels. I am passionate
		  about increasing the diversity of scientific community in the natural sciences,
		  and about increasing undergraduate participation in research. I am also constantly
		  trying to learn more about being a better scientist, mentor, educator and collaborator.</p>
		  <p>Currently, I am a post-doctoral research associate at Virginia
          Institute of Marine Science. For this position, I am
          conducting research in three main areas:
        <ol style="list-style-position:outside">
          <li>Effects of temperature and
            salinity on metabolic rate and consumption rate of invasive
            blue catfish.</li>
          <li>Spatiotemporal changes in recruitment characteristics of
            striped bass in tidal rivers of Chesapeake Bay.</li>
          <li>Effects of protected areas on taxonomic and functional
            diversity of fishes in Nepal.</li>
        </ol>
        In this website, I will provide updates on my research,
          teaching philosophy and random data analysis scripts. The
          scripts are just as much for my future self, as for others.
		  My CV can be accessed <a href="/assets/CV.pdf"> here</a>. Have a look
		  around the website and let me know if you have any
          questions, comments or suggestions, or if you want an electronic copy of
		  any of my papers. I can be reached via email
          at <a href="mailto:vaskarnepal@gmail.com">vaskarnepal@gmail.com</a>
          or via twitter at <a href="https://twitter.com/NepalVaskar">@NepalVaskar</a>.
        </p>
        <p> </p>
        <h3 id="short-bio">Short Bio</h3>
        Vaskar is native to, as you may have guessed, Nepal, where he
        completed his B.Sc. in Environmental Science. He subsequently
        received his B.S. and MS in biological sciences from Eastern
        Illinois University. Vaskar completed his Ph.D. in 2020, studying
        the invasion ecology of blue catfish with Dr. Mary Fabrizio at
        Virginia Institute of Marine Science (VIMS), William &amp; Mary.
        Following his Ph.D., he remained at VIMS for his post-doctoral
        fellowship with Drs. Mary Fabrizio and Troy Tuckey. Vaskar's
        research focuses on combining life-history information from the
        wild with laboratory experiments and quantitative techniques to
        inform management and conservation of aquatic fauna.
        <p></p>
      </div>
    </div>
  </body>
</html>
